<div class="container-fluid container-modified">
  <div class="col-12">
    <h3 class="mb-3 title">Pago de Actividades</h3>
  </div>
  <div class="row mt-3">
    <div class="col-12">
      <form>
        <div class="form-group row">
          <label class="col-1 col-form-label">Fecha</label>
          <div class="col-2">
            <input class="form-control input-modified" type="date" name="date" [(ngModel)]="date">
          </div>
          <label class="col-1 col-form-label">Archivo</label>
          <div class="col-2">
            <input type="file" (change)="onFileChange($event)" multiple="false" />
          </div>
        </div>






      </form>
      <button class="btn btn_primary btn-sm mr-3 my-3" (click)="Preacta()">Preacta</button>
      <button class="btn btn_primary btn-sm mr-3 my-3" (click)="export()" [disabled]="btm_export">Descargar EXCEL</button>
      <button class="btn btn_primary btn-sm mr-3 my-3" (click)="acta()" [disabled]="btm_acta">Acta</button>
    </div>




  </div>

</div>


<div class="container-fluid container-modified">



  <div class="tab-content">
    <table class="table table-striped table-bordered table-hover" id="table">
      <thead>
        <tr>
          <th>Total </th>
          <th>Pagado</th>
          <th>Pago superior </th>
          <th>Pago parcial </th>
          <th>Pago Inexistente
          </th>



        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>

</div>

<div class="loader" *ngIf="loader==false">
  <img src="../../assets/images/preload.svg" alt="">
</div>