<div class="row uno">
  <div class="col-2">
<div class="left-panel">
<ul>
   <li> <a class="dropdown-item" [routerLink]="['./gang']"
  >Cuadrilla</a></li>
  <li><a class="dropdown-item" [routerLink]="['./line']"
  >Linea</a></li>
  <li><a class="dropdown-item" [routerLink]="['./subline']"
  >Sublinea</a></li> 
  <li><a class="dropdown-item" [routerLink]="['./dispatch-destination']"
  >Destinos de despachos</a></li>
  <li><a class="dropdown-item" [routerLink]="['./dispatch-movements']"
  >Movimientos de despachos</a></li>
  <li><a class="dropdown-item" [routerLink]="['./input-type']"
  >Tipos de insumo</a></li>
  <li><a class="dropdown-item" [routerLink]="['./order-status']"
  >Estados de ordenes</a></li>
  <li><a class="dropdown-item" [routerLink]="['./work-type']"
  >Tipo de obra</a></li>
  <li><a class="dropdown-item" [routerLink]="['./subworktype']"
  >Subtipo de obra</a></li>
  <li><a class="dropdown-item" [routerLink]="['./vehicles']"
    >Vehiculos</a></li>
  <li><a class="dropdown-item" [routerLink]="['./measurement-unit']"
  >Unidad de medida</a></li>
  <li><a class="dropdown-item" [routerLink]="['./updatework']"
  >Actualizar Obra</a> </li>  

</ul>
</div>
</div>
<div class="col-10 container-fluid container-modified ">
<div class="col-12"><router-outlet></router-outlet></div>
</div>

</div>