<div class="container-fluid container-modified">
    <div class="col-12">
        <h3 class="mb-3 title">Crear Empresa</h3>
    </div>

    <div class="row px-2">
        <div class="col-9">
            <form id="company" #form_company="ngForm">
                <div class="form-group row">
                    <label class="col-1 col-form-label">Empresas</label>
                    <div class="col-2">
            
                        <select class="form-control input-modified" name="idbusiness" [(ngModel)]="company_models.idbusiness" (change)="search()">
                            <option *ngFor="let company of list_company" value="{{company.idbusiness}}">{{company.company_name}}</option>
                        </select>
                    </div>
            
                    <label class="col-1 col-form-label">Nit</label>
                    <div class="col-2">
                        <input class="form-control input-modified" type="text" name="nit" [(ngModel)]="company_models.nit" #nit="ngModel" required>
                        <span *ngIf="nit.errors?.required && nit.touched" class="error_message">el campo es requerido</span>
                    </div>
                    <label class="col-1 col-form-label">Dirección</label>
                    <div class="col-2">
                        <input class="form-control input-modified" type="text" name="address" [(ngModel)]="company_models.address" #address="ngModel"
                            required>
                        <span *ngIf="address.errors?.required && address.touched" class="error_message">el campo es requerido</span>
                    </div>
            
            
                </div>
                <div class="form-group row">
                    <label class="col-1 col-form-label">Nombre</label>
                    <div class="col-2">
                        <input class="form-control input-modified" type="text" name="company_name" [(ngModel)]="company_models.company_name" #company_name="ngModel"
                            required>
                        <span *ngIf="company_name.errors?.required && company_name.touched" class="error_message">el campo es requerido</span>
                    </div>
                    <label class="col-1 col-form-label">Telefono</label>
                    <div class="col-2">
                        <input class="form-control input-modified" type="text" name="phone" [(ngModel)]="company_models.phone" #phone="ngModel" required>
                        <span *ngIf="phone.errors?.required && phone.touched" class="error_message">el campo es requerido</span>
                    </div>
                    <label class="col-1 col-form-label">Logo</label>
                    <div class="col-2">
                        <input type="file" (change)="upload($event)">
                    </div>
                </div>
            </form>
            <button class="btn btn_primary btn-sm mr-3 my-3" [disabled]="!form_company.valid || buttoinsert" data-toggle="modal" data-target="#create">
                Guardar</button>
            
            <button class="btn btn_primary btn-sm mr-3 my-3" [disabled]="buttonupdate" (click)="update()">Atualizar</button>
        </div>
        <div class="col-3">
                <img [src]="imagePath" border="0" width="200" height="150">
        </div>
    </div>




</div>



<div class="modal fade" id="create" tabindex="-1" role="dialog" aria-labelledby="create" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Guardar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <p class="text-center text-muted p-3">Esta seguro Crear La Empresa?</p>
                    </div>
                </form>
            </div>
            <div class=" modal-footer">
                <button type="button" class="btn btn_danger btn-sm" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn_success btn-sm" data-dismiss="modal" (click)="save()">Guardar</button>
            </div>
        </div>
    </div>
</div>