<div class="container-fluid container-modified">
    <div class="col-12">
        <h3 class="mb-3 title">Listas Maestras</h3>
    </div>

    <div class="col-12">
        <div class="form-group row">
            <label class="col-auto col-form-label" for="">Tipo/Lista</label>
            <div class="col-2">
                <select name="" class="form-control input-modified" id="">
                    <option value=""></option>
                </select>
            </div>
            <label class="col-auto col-form-label" for="">Empresa</label>
            <div class="col-2">
                <select name="" class="form-control input-modified" id="">
                   <option value=""></option>
               </select>

            </div>
            <label class="col-auto col-form-label" for="">Clasificación</label>
            <div class="col-2">
                <select name="" class="form-control input-modified" id="">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <button class="btn btn-sm btn_primary">Agregar</button>
    </div>
</div>

<div class="container-fluid container-modified">

</div>