th {
  border: 1px solid #fff;
  background-color: #000;
  color: #fff;
}
table {
  border: 1px solid #000;
}

.uno {
  border: 0px solid red;
}

.button1 {
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 2px;
}
ngui-auto-complet {
  background-color: black;
}

.dos {
  border: 0px solid blue;
}
.tres {
  border: 0px solid green;
}
.button {
  margin: 10px;
  padding-left: 0.6em;
  padding-right: 0.6em;
  padding-top: 2px;
  padding-bottom: 2px;
}
.mtitle {
  color: #fff;

  text-align: center;
}
.scroll {
  height: 490px;
  overflow-y: auto;
  width: 100%;
}

button {
  padding-left: 7px;
  padding-right: 7px;
}
.al {
  text-align: right;
}

.img-circle {
  border-radius: 50%;
  width: 25px;
  height: 25px;
}
