<form #form_usuarios="ngForm" id="form">
    <div>
        <div class="container-fluid container-modified">
            <div class="row px-3">
                <div class="col-12">
                    <h1 class="mb-3 title">Informacion Personal</h1>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-9">
                            <div class="form-group row">
                                <label class="col-1 col-form-label">Codigo</label>
                                <div class="col-3">
                                    <input class="form-control input-modified" type="text" value="" name="idemployees" #idemployees="ngModel" [(ngModel)]="employees.idemployees"
                                        readonly>
                                </div>
                                <label class="col-1 col-form-label label-required">Cedula</label>
                                <div class="col-3">
                                    <input class="form-control input-modified" type="text" name="Users_id_identification" #Users_id_identification="ngModel"
                                        [(ngModel)]="employees.Users_id_identification" required number/>
                                    <span *ngIf="Users_id_identification.errors?.required && Users_id_identification.touched" class="error_message">el campo es requerido</span>
                                    <span *ngIf="Users_id_identification.errors?.number" class="error_message">ingrese un valor numerico</span>
                                </div>
                                <label class="col-1 col-form-label label-required">Nombre</label>
                                <div class="col-3">
                                    <input class="form-control input-modified" type="text" name="name" #name="ngModel" [(ngModel)]="employees.name" required/>
                                    <span *ngIf="name.errors?.required && name.touched" class="error_message">el campo es requerido</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-1 col-form-label label-required">Apellido</label>
                                <div class="col-3">
                                    <input class="form-control input-modified" type="text" name="last_name" #last_name="ngModel" [(ngModel)]="employees.last_name"
                                        required/>
                                    <span *ngIf="last_name.errors?.required && last_name.touched" class="error_message">el campo es requerido</span>
                                </div>
                                <label class="col-1 col-form-label label-required">Sexo</label>
                                <div class="col-3">
                                    <select class="form-control input-modified" name="id_sex" #id_sex="ngModel" [(ngModel)]="employees.id_sex" required>
                                        <option *ngFor="let sex of list_sex" value="{{sex.idsexo}}">{{sex.name_sexo}}</option>
                                    </select>
                                    <span *ngIf="id_sex.errors?.required && id_sex.touched" class="error_message">el campo es requerido</span>
                                </div>
                                <label class="col-1 col-form-label">Edad</label>
                                <div class="col-3">
                                    <input class="form-control input-modified" type="text" readonly name="age" #age="ngModel" [(ngModel)]="employees.age" />
                                    <span *ngIf="age.errors?.required && age.touched" class="error_message">el campo es requerido</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-1 col-form-label label-required">Telefono</label>
                                <div class="col-3">
                                    <input class="form-control input-modified" type="text" name="phone" #phone="ngModel" [(ngModel)]="employees.phone" number
                                        required/>
                                    <span *ngIf="phone.errors?.number" class="error_message">ingrese un valor numerico</span>
                                    <span *ngIf="phone.errors?.required && phone.touched" class="error_message">el campo es requerido</span>
                                </div>
                                <label class="col-1 col-form-label label-required ">Direccion</label>
                                <div class="col-3">
                                    <input class="form-control input-modified " type="text" name="address" #address="ngModel" [(ngModel)]="employees.address"
                                        required />
                                    <span *ngIf="address.errors?.required && address.touched" class="error_message">el campo es requerido</span>
                                </div>
                                <label class="col-1 col-form-label label-required">Fecha/Nac</label>
                                <div class="col-3">
                                    <input class="form-control input-modified" type="date" name="birth_date" #birth_date="ngModel" [(ngModel)]="employees.birth_date"
                                        (blur)="calcular_anios(birth_date.value)" required/>
                                    <span *ngIf="birth_date.errors?.required && birth_date.touched" class="error_message">el campo es requerido</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-1 col-form-label label-required">Estado/Civil</label>
                                <div class="col-3">
                                    <select class="form-control input-modified" name="civil_status" #civil_status="ngModel" [(ngModel)]="employees.civil_status"
                                        required>
                                        <option *ngFor="let civil of list_civil_status" value="{{civil.idcivil_status}}">{{civil.name}}</option>
                                    </select>
                                    <span *ngIf="civil_status.errors?.required && civil_status.touched" class="error_message">el campo es requerido</span>
                                </div>
                                <label class="col-1 col-form-label label-required">Empresa</label>
                                <div class="col-3">
                                    <select class="form-control input-modified" name="id_company" #id_company="ngModel" [(ngModel)]="employees.id_company" (change)="get_type_contrac()"
                                        required>
                                        <option *ngFor="let company of list_company" value="{{company.idbusiness}}">{{company.company_name}}</option>
                                    </select>
                                    <span *ngIf="id_company.errors?.required && id_company.touched" class="error_message">el campo es requerido</span>
                                </div>
                                <label class="col-1 col-form-label">Clasificacion</label>
                                <div class="col-3">
                                    <select class="form-control input-modified" name="id_clasificacion" #id_clasificacion="ngModel" [(ngModel)]="employees.id_clasificacion"
                                        required>
                                        <option *ngFor="let calsificacion of list_clasificaciones" value="{{calsificacion.idclasificaciones}}">{{calsificacion.name}}</option>
                                    </select>

                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-1 col-form-label">Celular</label>
                                <div class="col-3">
                                    <input class="form-control input-modified" type="text" name="phone_cel" #phone_cel="ngModel" [(ngModel)]="employees.phone_cel"
                                        number/>
                                    <span *ngIf="phone_cel.errors?.number" class="error_message">ingrese un valor numerico</span>
                                    <span *ngIf="phone_cel.errors?.required && phone_cel.touched" class="error_message">el campo es requerido</span>
                                </div>


                                <label class="col-1 col-form-label label-required">Contrato</label>
                                <div class="col-3">
                                    <select class="form-control input-modified" name="id_contract" name="id_contract" #id_contract="ngModel" [(ngModel)]="employees.id_contract"
                                        required>
                                        <option *ngFor="let contrac_company of contrac_company" value="{{contrac_company.idcontract}}">{{contrac_company.contract_name}}</option>
                                    </select>
                                    <span *ngIf="id_contract.errors?.required && id_contract.touched" class="error_message">el campo es requerido</span>
                                </div>



                                <label class="col-1 col-form-label label-required">Tipo/Cuenta</label>
                                <div class="col-3">
                                    <select class="form-control input-modified" name="account_type" #account_type="ngModel" [(ngModel)]="employees.account_type"
                                        required>
                                        <option *ngFor="let account of list_account_type" value="{{account.idaccount_type}}">{{account.name}}</option>
                                    </select>
                                    <span *ngIf="account_type.errors?.required && account_type.touched" class="error_message">el campo es requerido</span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-1 col-form-label label-required">Entidad</label>
                                <div class="col-3">
                                    <select class="form-control input-modified" name="id_bank" #id_bank="ngModel" [(ngModel)]="employees.id_bank" required>
                                        <option *ngFor="let bank of list_bank" value="{{bank.idbank}}">{{bank.name}}</option>
                                    </select>
                                    <span *ngIf="id_bank.errors?.required && id_bank.touched" class="error_message">el campo es requerido</span>
                                </div>
                                <label class="col-1 col-form-label">N°/Cuenta</label>
                                <div class="col-3">
                                    <input class="form-control input-modified" type="text" name="n_account" #n_account="ngModel" [(ngModel)]="employees.n_account"
                                        number/>
                                    <span *ngIf="n_account.errors?.number" class="error_message">ingrese un valor numerico</span>
                                    <span *ngIf="n_account.errors?.required && n_account.touched" class="error_message">el campo es requerido</span>
                                </div>

                                <label class="col-1 col-form-label">Tel/Contacto</label>
                                <div class="col-3">
                                    <input class="form-control input-modified" type="text" name="tel_contact" #tel_contact="ngModel" [(ngModel)]="employees.tel_contact"
                                        number/>
                                    <span *ngIf="tel_contact.errors?.number" class="error_message">ingrese un valor numerico</span>
                                    <span *ngIf="tel_contact.errors?.required && tel_contact.touched" class="error_message">el campo es requerido</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-3 d-flex flex-column align-items-center">
                            <div class="foto mb-2">
                                <img [src]="url_image" id="imgSalida">
                            </div>
                            <input type="file" name="image_employee" #imageemployee="ngModel" (change)="upl_image($event)" [(ngModel)]="image_employee">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <button class="btn btn-sm btn-block btn_success" data-toggle="modal" data-target="#asignar_dotacion" [disabled]="!employees.idemployees"
                        (click)="ver_dotacion()">Ver Dotación</button>
                </div>
                <div class=" col-2">
                    <button class="btn btn-sm btn-block btn_success" data-toggle="modal" data-target="#asignar_permiso" [disabled]="!employees.idemployees"
                        (click)="abrir_procesos()">Procesos Disciplinarios</button>
                </div>
            </div>
        </div>
        <div class=" container-fluid container-modified">
            <div class="row px-3">
                <div class="col-12">
                    <h1 class="mb-3 title">Informacion Complementaria</h1>
                </div>
                <div class="col-12">
                    <div class="form-group row">
                        <label class="col-1 col-form-label label-required">Departamento</label>
                        <div class="col-3">
                            <select class="form-control input-modified" (change)="get_city(id_depart.value)" name="id_depart" #id_depart="ngModel" [(ngModel)]="employees.id_depart"
                                required>
                                <option *ngFor="let departaments of list_departaments" value="{{departaments.departments_dane}}">{{departaments.name_departments}}</option>
                            </select>
                            <span *ngIf="id_depart.errors?.required && id_depart.touched" class="error_message">el campo es requerido</span>
                        </div>
                        <label class="col-1 col-form-label label-required">Municipio</label>
                        <div class="col-3">
                            <select class="form-control input-modified" name="id_municipality" #id_municipality="ngModel" [(ngModel)]="employees.id_municipality"
                                required>
                                <option *ngFor="let city of list_city" value="{{city.idmunicipality}}">{{city.name_municipality}}</option>
                            </select>
                            <span *ngIf="id_municipality.errors?.required && id_municipality.touched" class="error_message">el campo es requerido</span>
                        </div>
                        <label class="col-1 col-form-label label-required">Estado</label>
                        <div class="col-3">
                            <select class="form-control input-modified" name="state" #state="ngModel" [(ngModel)]="employees.state" required>
                                <option *ngFor="let list_state of list_state" value="{{list_state.idstate}}">{{list_state.state}}</option>
                            </select>
                            <span *ngIf="state.errors?.required && state.touched" class="error_message">el campo es requerido</span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-1 col-form-label label-required">Municipio/Labor</label>
                        <div class="col-3">
                            <select class="form-control input-modified" name="place_of_work" #place_of_work="ngModel" [(ngModel)]="employees.place_of_work"
                                required>
                                <option *ngFor="let place of list_place_of_work" value="{{place.idmunicipality}}">{{place.name_municipality}}</option>
                            </select>
                            <span *ngIf="place_of_work.errors?.required && place_of_work.touched" class="error_message">el campo es requerido</span>
                        </div>
                        <label class="col-1 col-form-label label-required">Nivel/Educativo</label>
                        <div class="col-3">
                            <select class="form-control input-modified" name="education_level" #education_level="ngModel" [(ngModel)]="employees.education_level"
                                required>
                                <option *ngFor="let education of list_education_level" value="{{education.ideducation_level}}">{{education.education_level_name}}</option>
                            </select>
                            <span *ngIf="education_level.errors?.required && education_level.touched" class="error_message">el campo es requerido</span>
                        </div>

                        <label class="col-1 col-form-label label-required">EPS</label>
                        <div class="col-3">
                            <select class="form-control input-modified" name="eps" #eps="ngModel" [(ngModel)]="employees.eps" required>
                                <option *ngFor="let eps of list_eps" value="{{eps.ideps}}">{{eps.name_eps}}</option>
                            </select>
                            <span *ngIf="eps.errors?.required && eps.touched" class="error_message">el campo es requerido</span>
                        </div>

                    </div>
                    <div class="form-group row">
                        <label class="col-1 col-form-label label-required">Cargo</label>
                        <div class="col-3">
                            <input class="form-control input-modified" type="text" name="name_charge" #name_charge="ngModel" [(ngModel)]="employees.name_charge"
                                readonly>
                            <span *ngIf="name_charge.errors?.required && name_charge.touched" class="error_message">el campo es requerido</span>
                        </div>

                        <label class="col-1 col-form-label label-required">Sub Cargo</label>
                        <div class="col-3">
                            <select class="form-control input-modified" name="sub_charge" #sub_charge="ngModel" (change)="charge()" [(ngModel)]="employees.sub_charge"
                                required>
                                <option *ngFor="let subcharge of subcharge" value="{{subcharge.idsub_charge}}">{{subcharge.sub_charge_name}}</option>
                            </select>
                            <span *ngIf="sub_charge.errors?.required && sub_charge.touched" class="error_message">el campo es requerido</span>
                        </div>


                        <label class="col-1 col-form-label">Cuadrillas</label>
                        <div class="col-3">
                            <select class="form-control input-modified" name="id_gangs" #id_gangs="ngModel" [(ngModel)]="employees.id_gangs">
                                <option *ngFor="let gangs of list_gangs" value="{{gangs.idgangs}}">{{gangs.gangs_name}}</option>
                            </select>
                            <span *ngIf="id_gangs.errors?.required && id_gangs.touched" class="error_message">el campo es requerido</span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-1 col-form-label label-required">Nivel de Riesgo Final</label>
                        <div class="col-3">
                            <input class="form-control input-modified" type="text" name="final_risk_level" #final_risk_level="ngModel" [(ngModel)]="employees.final_risk_level"
                                number readonly/>
                            <span *ngIf="final_risk_level.errors?.required && final_risk_level.touched" class="error_message">el campo es requerido</span>
                        </div>
                        <label class="col-1 col-form-label label-required">ARL</label>
                        <div class="col-3">
                            <select class="form-control input-modified" name="arp" #arp="ngModel" [(ngModel)]="employees.arp" required>
                                <option *ngFor="let arl of list_arl" value="{{arl.idarl}}">{{arl.name_arl}}</option>
                            </select>
                            <span *ngIf="arp.errors?.required && arp.touched" class="error_message">el campo es requerido</span>
                        </div>
                        <label class="col-1 col-form-label label-required">Pensiones</label>
                        <div class="col-3">
                            <select class="form-control input-modified" name="pension" #pension="ngModel" [(ngModel)]="employees.pension" required>
                                <option *ngFor="let pension of list_pension" value="{{pension.idpensions}}">{{pension.name_pensions}}</option>
                            </select>
                            <span *ngIf="pension.errors?.required && pension.touched" class="error_message">el campo es requerido</span>
                        </div>
                    </div>
                    <button class="btn btn_primary btn-sm mr-3 my-3" value="hola" (click)="guardar_usuario()" #btn_guardar [disabled]="!form_usuarios.valid">Guardar</button>
                    <button class="btn btn_primary btn-sm mr-3 my-3" (click)="actualizar_usuario()" #btn_actualizar>Actualizar</button>
                    <button class="btn btn_primary btn-sm mr-3 my-3" data-toggle="modal" (click)="create_contract()" data-target="#crear_contrato">Crear contrato</button>
                    <button class="btn btn_primary btn-sm mr-3 my-3" (click)="ver_contratos()">Ver contratos</button>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="container-fluid container-modified">
    <div class="table__scroll">
        <div class="col-12">
            <table style="min-width: 1800px" class="text-center table table-striped table-bordered table-hover font-table" id="table_contracts">
                <thead>
                    <tr>
                        <th class="theader__short">Item</th>
                        <th class="theader__extralong">Empresa</th>
                        <th class="theader__extralong">Contrato</th>
                        <th class="theader__dobleextralong">T/contrato</th>
                        <th class="theader__medium">F/inicial</th>
                        <th class="theader__medium">F/final</th>
                        <th class="theader__extralong">Cargo</th>
                        <th class="theader__short">Salario</th>
                        <th class="theader__short">Aux/lejania</th>
                        <th class="theader__short">Aux/rodamiento</th>
                        <th class="theader__short">Bonificacion</th>
                        <th class="">Motivo/Finalización</th>
                        <th class="theader__short">modificar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of data_table; let i=index">
                        <td class="tdody_content">{{i+1}}</td>
                        <td class="tdody_content">{{data.company_name}}</td>
                        <td class="tdody_content">{{data.contract_name}}</td>
                        <td class="tdody_content">{{data.name_contract}}</td>
                        <td class="tdody_content">{{data.start_date}}</td>
                        <td class="tdody_content">{{data.final_date}}</td>
                        <td class="tdody_content">{{data.sub_charge_name}}</td>
                        <td class="tdody_content">{{data.salary}}</td>
                        <td class="tdody_content">{{data.for_distance}}</td>
                        <td class="tdody_content">{{data.per_bearing}}</td>
                        <td class="tdody_content">{{data.fixed_bonus}}</td>
                        <td class="tdody_content">{{data.reason_end}}</td>

                        <td>
                            <button class="btn btn-sm btn_select btn_table" data-toggle="modal" data-target="#crear_contrato" #btn_modify (click)="actualizar_contratos(btn_modify.value)"
                                value="{{data.idcontracts}}">modificar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- modal para editar y crear contratos -->
<div class="modal fade" id="crear_contrato" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Crear Contrato</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #form_contract="ngForm" class="px-4">
                    <div class="form-group row">
                        <label class="col-3 col-form-label label-required">ID contrato</label>
                        <div class="col-9">
                            <input class="form-control input-modified" type="text" name="idcontracts" #idcontracts="ngModel" [(ngModel)]="contracts.idcontracts"
                                readonly/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-3 col-form-label label-required">Empresa</label>
                        <div class="col-9">
                            <select class="form-control input-modified" name="id_company" #id_company_contracts="ngModel" [(ngModel)]="contracts.id_company"
                                (change)="get_contracts(id_company_contracts.value)" required>
                                <option *ngFor="let company of list_company" value="{{company.idbusiness}}">{{company.company_name}}</option>
                            </select>
                            <span *ngIf="id_company_contracts.errors?.required && id_company_contracts.touched" class="error_message">el campo es requerido</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-3 col-form-label label-required">Contrato</label>
                        <div class="col-9">
                            <select class="form-control input-modified" name="idcontract" #idcontract="ngModel" [(ngModel)]="contracts.idcontract" required>
                                <option *ngFor="let contract of list_contracts" value="{{contract.idcontract}}">{{contract.contract_name}}</option>
                            </select>
                            <span *ngIf="idcontract.errors?.required && idcontract.touched" class="error_message">el campo es requerido</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-3 col-form-label label-required">Tipo Contrato</label>
                        <div class="col-9">
                            <select class="form-control input-modified" #contract_type="ngModel" [(ngModel)]="contracts.contract_type" name="contract_type"
                                required>
                                <option *ngFor="let list_type_contracts of list_type_contracts" value="{{list_type_contracts.idtype_contract}}">{{list_type_contracts.name_contract}}</option>
                            </select>
                            <span *ngIf="contract_type.errors?.required && contract_type.touched" class="error_message">el campo es requerido</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-3 col-form-label label-required">Fecha Inicio</label>
                        <div class="col-9">
                            <input type="date" class="form-control input-modified" #start_date="ngModel" [(ngModel)]="contracts.start_date" name="start_date"
                                required date>
                            <span *ngIf="start_date.errors?.required && start_date.touched" class="error_message">el campo es requerido</span>
                            <span *ngIf="start_date.errors?.date" class="error_message">ingrese una fecha valida</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-3 col-form-label">Fecha Final</label>
                        <div class="col-9">
                            <input type="date" class="form-control input-modified" #final_date="ngModel" [(ngModel)]="contracts.final_date" name="final_date"
                                date>
                            <span *ngIf="final_date.errors?.date" class="error_message">ingrese una fecha valida</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-3 col-form-label label-required">Cargo</label>
                        <div class="col-9">
                            <select class="form-control input-modified" name="charges" #charges="ngModel" [(ngModel)]="contracts.charges" required>
                                <option *ngFor="let charge of list_charges" value="{{charge.idsub_charge}}">{{charge.sub_charge_name}}</option>
                            </select>
                            <span *ngIf="charges.errors?.required && charges.touched" class="error_message">el campo es requerido</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-3 col-form-label label-required">Salario</label>
                        <div class="col-9">
                            <input type="text" class="form-control input-modified" #salary="ngModel" [(ngModel)]="contracts.salary" name="salary" required
                                number>
                            <span *ngIf="salary.errors?.required && salary.touched" class="error_message">el campo es requerido</span>
                            <span *ngIf="salary.errors?.number" class="error_message">ingrese un numero valido</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-3 col-form-label label-required">Auxilio/Lejania</label>
                        <div class="col-9">
                            <input type="text" class="form-control input-modified" #for_distance="ngModel" [(ngModel)]="contracts.for_distance" name="for_distance"
                                required number>
                            <span *ngIf="for_distance.errors?.required && for_distance.touched" class="error_message">el campo es requerido</span>
                            <span *ngIf="for_distance.errors?.number" class="error_message">ingrese un numero valido</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-3 col-form-label label-required">Auxilio por Rodamiento</label>
                        <div class="col-9">
                            <input type="text" class="form-control input-modified" #per_bearing="ngModel" [(ngModel)]="contracts.per_bearing" name="per_bearing"
                                number required>
                            <span *ngIf="per_bearing.errors?.required && per_bearing.touched" class="error_message">el campo es requerido</span>
                            <span *ngIf="per_bearing.errors?.number" class="error_message">ingrese un numero valido</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-3 col-form-label label-required">Bonificacion Fija</label>
                        <div class="col-9">
                            <input type="text" class="form-control input-modified" #fixed_bonus="ngModel" [(ngModel)]="contracts.fixed_bonus" name="fixed_bonus"
                                number required>
                            <span *ngIf="fixed_bonus.errors?.required && fixed_bonus.touched" class="error_message">el campo es requerido</span>
                            <span *ngIf="fixed_bonus.errors?.number" class="error_message">ingrese un numero valido</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-3 col-form-label label-required">Motivo/Finalización</label>
                        <div class="col-9">
                            <textarea name="" class="form-control textarea-modified" name="reason_end" #reason_end="ngModel" [(ngModel)]="contracts.reason_end"></textarea>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn_danger btn-sm" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn_success btn-sm" [disabled]="!form_contract.valid || btninsert" (click)="guardar_contratos()">Guardar</button>
                <button type="button" class="btn btn_success btn-sm" [disabled]="btnupdate" (click)="update_contract()">Modificar</button>
            </div>
        </div>
    </div>
</div>

<!-- modal para ver dotacion -->
<div class="modal fade" id="asignar_dotacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Dotación</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-striped table-bordered" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Fecha</th>
                            <th>Descripción</th>
                            <th>Cantidad</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>item #</td>
                            <td>item #</td>
                            <td>item #</td>
                            <td>item #</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn_danger btn-sm" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn_success btn-sm" data-dismiss="modal">Actualizar</button>
            </div>
        </div>
    </div>
</div>



<!-- modal de permisos y suspensiones-->
<div class="modal fade" id="asignar_permiso" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Procesos Disciplinarios</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <h1 class="title mb-3">Permisos & Suspenciones</h1>
                    </div>
                    <div class="col-12">
                        <form>
                            <div class="form-group row pl-3">
                                <label class="col-1 col-form-label">Documento</label>
                                <div class="col-3">
                                    <input class="form-control input-modified" type="text">
                                </div>
                                <label class="col-1 col-form-label">Fecha</label>
                                <div class="col-3">
                                    <input class="form-control input-modified" type="date">
                                </div>
                                <label class="col-1 col-form-label">Permisos</label>
                                <div class="col-3">
                                    <select name="" id="" class="form-control input-modified">
                                        <option value="0"></option>
                                        <option value="1">Remunerado</option>
                                        <option value="2">No Remunerado</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row pl-3">
                                <label class="col-1 col-form-label">Concepto Permiso</label>
                                <div class="col-3">
                                    <select name="" id="" class="form-control input-modified">
                                        <option value="0"></option>
                                        <option value="1">Incapacidad</option>
                                        <option value="2">Calamidad domestica</option>
                                        <option value="3">Lic. Remunerada</option>
                                        <option value="4">Lic. No remunerada</option>
                                        <option value="5">Diligencia Personal</option>
                                        <option value="6">Otras</option>
                                    </select>
                                </div>
                                <label class="col-1 col-form-label">Proceso Disciplinario</label>
                                <div class="col-3">
                                    <select name="" id="" class="form-control input-modified">
                                        <option value="0"></option>
                                        <option value="1">Llamado de atencion verbal</option>
                                        <option value="2">1° Llamado de atencion</option>
                                        <option value="3">2° Llamado de atencion</option>
                                        <option value="4">3° Llamado de atencion</option>
                                        <option value="5">Sancion disciplinaria</option>
                                        <option value="6">Cobro imputable</option>
                                        <option value="7">Suspension x dias</option>
                                    </select>
                                </div>
                                <label class="col-1 col-form-label">Dias de Suspension</label>
                                <div class="col-3">
                                    <input class="form-control input-modified" type="text">
                                </div>
                            </div>
                        </form>
                        <button class="btn btn-sm btn_primary px-5">Agregar</button>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12">
                        <h1 class="title mb-3">Detalles</h1>
                    </div>
                    <div class="col-12">
                        <table class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Fecha</th>
                                    <th>Ausentismo</th>
                                    <th>Concepto</th>
                                    <th>Ausentismo</th>
                                    <th>Detalles Suspension</th>
                                    <th>Dias Suspension</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>item #</td>
                                    <td>item #</td>
                                    <td>item #</td>
                                    <td>item #</td>
                                    <td>item #</td>
                                    <td>item #</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn_danger btn-sm" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn_success btn-sm" data-dismiss="modal">Actualizar</button>
            </div>
        </div>
    </div>
</div>
<div class="loader" *ngIf="!list_civil_status">
    <img src="../../assets/images/preload.svg" alt="">
</div>