<div class="container-fluid container-modified">
    <div class="col-12">
        <h3 class="mb-3 title">Proveedores</h3>
    </div>

    <div class="col-12">
        <form #form_providers="ngForm" id="providers">
            <div class="form-group row">
                <label class="col-1 col-form-label">Codigo</label>
                <div class="col-2">
                    <input class="form-control input-modified" type="text" name="code" [(ngModel)]="Providers.idproviders" readonly/>
                </div>
                <label class="col-1 col-form-label">Fecha/Registro</label>
                <div class="col-2">
                    <input class="form-control input-modified" type="date" name="date" [(ngModel)]="Providers.date" />
                </div>
                <label class="col-1 col-form-label">Nit/ID</label>


                <div class="col-2 ">

                    <input class="form-control input-modified" type="text" name="providernit" #providernit="ngModel" [(ngModel)]="Providers.providers_nit"
                        required number/>
                    <span *ngIf="providernit.errors?.required && providernit.touched" class="error_message">el campo es requerido</span>
                    <span *ngIf="providernit.errors?.number && providernit.touched" class="error_message">ingrese un valor numerico</span>

                </div>

                <label class="col-1 col-form-label">Digito</label>
                <div class="col-2">
                    <input class="form-control input-modified" type="text" name="digito" [(ngModel)]="Providers.digito" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-1 col-form-label">Nombre
                    <button class="btn btn_delete  btn-sm mr-3 fat fa-search" type="button" style="padding: 2px" (click)="search_provider()" data-toggle="modal"
                        data-target="#search_provider">

                    </button>
                </label>
                <div class="col-2">
                    <input class="form-control input-modified" type="text" name="namep" [(ngModel)]="Providers.providers_name" #namep="ngModel"
                        namep required>
                    <span *ngIf="namep.errors?.required && namep.touched" class="error_message">el campo es requerido</span>
                </div>
                <label class="col-1 col-form-label">E-mail</label>
                <div class="col-2 ">
                    <input class="form-control input-modified" type="text" name="email" [(ngModel)]="ProviderInfo.mail_provider" />
                </div>
                <label class="col-1 col-form-label">Fax</label>
                <div class="col-2 ">
                    <input class="form-control input-modified" type="text" name="fax" [(ngModel)]="ProviderInfo.fax_provider" />
                </div>
            </div>


            <div class="form-group row">
                <label class="col-1 col-form-label">Dirección</label>
                <div class="col-2">
                    <input class="form-control input-modified" type="text" name="address" [(ngModel)]="Providers.providers_addres" #address="ngModel"
                        address required />
                    <span *ngIf="address.errors?.required && address.touched" class="error_message">el campo es requerido</span>
                </div>
                <label class="col-1 col-form-label">Telefono</label>
                <div class="col-2">

                    <input class="form-control input-modified" type="text" name="phone" [(ngModel)]="ProviderInfo.phone_provider" />
                </div>
                <label class="col-1 col-form-label">Extension</label>
                <div class="col-2 text-center">
                    <input class="form-control input-modified" type="text" name="ext" [(ngModel)]="ProviderInfo.ext__provider" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-1 col-form-label">Nombre Contato</label>
                <div class="col-2">
                    <input class="form-control input-modified" type="text" name="contact" [(ngModel)]="ProviderInfo.contact_provider" />
                </div>
            </div>

            <div class="form-group row">
                <label for="" class="col-1 col-form-label">Observaciones</label>
                <div class="col-8">
                    <textarea class="form-control textarea-modified" name="observation" [(ngModel)]="ProviderInfo.observations_provider"></textarea>
                </div>
            </div>


        </form>

        <button class="btn btn_primary btn-sm mr-3 my-3" data-toggle="modal" data-target="#guardar_provider" [disabled]="!form_providers.valid || buttonDisabled">Guardar</button>
        <button class="btn btn_danger btn-sm mr-3 my-3" data-toggle="modal" data-target="#update_provider" [disabled]="buttonDisabledUpdate">Actualizar Proveedor</button>
        <button class="btn btn_success btn-sm mr-3 my-3" data-toggle="modal" data-target="#agregar_material" [disabled]="buttonDisabledsearch"
            (click)="addmaterial()">Agregar Material</button>
    </div>
</div>

<div class="container-fluid container-modified">
    <table id="table_providers" class="table table-striped table-bordered table-hover font-table">
        <thead>
            <tr>
                <th>Item</th>
                <th>Codigo</th>
                <th class="theader__dobleextralong">Descripción</th>
                <th>V/Unitario</th>
                <th>Descuento</th>
                <th>V/con Descuento</th>
                <th>Iva</th>
                <th>V/Total</th>
                <th>Accion</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let newrow of Supply_Provider; let i=index">
                <td> {{i}}</td>
                <td>{{newrow.code}}</td>
                <td> {{newrow.description}}</td>

                <td>{{newrow.supply_vlru}}</td>
                <td>{{newrow.supply_discount}}</td>
                <td>{{newrow.vdescuento}}</td>
                <td>{{newrow.supply_iva}}</td>
                <td>{{newrow.vtotal}}</td>
                <td class="text-center">
                    <button class="btn btn-sm btn_select btn_table d-inline-block" (click)="Edit($event)" data-toggle="modal" data-target="#Edit_material"
                        value="{{newrow.idsupply_provider}}">Editar
                    </button>
                    <button class="btn btn_delete  btn-sm d-inline-block fa fa-trash-o" type="button" style="padding: 2px" value="{{newrow.idsupply_provider}}"
                        (click)="delete_supply($event)">

                    </button>
                </td>


            </tr>

        </tbody>
    </table>

</div>


<!-- Large modal -->

<!-- Modal -->
<div class="modal fade" id="agregar_material" tabindex="-1" role="dialog" aria-labelledby="agregar_material" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Materiales</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <table id="table_materiales" class="table table-striped table-bordered table-hover font-table">
                            <thead>
                                <tr>
                                    <th>Item</th>
                                    <th>Codigo</th>
                                    <th>Descripción</th>
                                    <th>Seleccionar</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let newrow of materiales; let i=index">

                                    <td>{{i}}</td>
                                    <td>
                                        {{newrow.code}}
                                    </td>
                                    <td>
                                        {{newrow.description}}
                                    </td>
                                    <td>

                                        <button class="btn btn_select btn-sm" (click)="selectRow($event)" value="{{newrow.idmateriales}}">Selecionar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div>


                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn_danger btn-sm" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn_success btn-sm" data-dismiss="modal">Guardar</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal  Buscar proveedor -->
<div class="modal fade" id="search_provider" tabindex="-1" role="dialog" aria-labelledby="search_provider" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Buscar proveedor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <table id="table_search_provider" class="table table-striped table-bordered table-hover font-table">
                            <thead>
                                <tr>
                                    <th>Item</th>
                                    <th>Nit</th>
                                    <th>Nombre</th>
                                    <th>Dirección</th>
                                    <th>Seleccionar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let newrow of search_providers; let i=index">

                                    <td>{{i}}</td>
                                    <td>
                                        {{newrow.providers_nit}}
                                    </td>
                                    <td>
                                        {{newrow.providers_name}}
                                    </td>
                                    <td>
                                        {{newrow.providers_addres}}
                                    </td>
                                    <td class="text-center">

                                        <button class="btn btn-sm btn_select btn_table" (click)="select_provider($event)" value="{{newrow.idproviders}}">Selecionar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div>


                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn_danger btn-sm" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn_success btn-sm" data-dismiss="modal">Guardar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Edit Material-->
<div class="modal fade" id="Edit_material" tabindex="-1" role="dialog" aria-labelledby="Edit_material" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar Material</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <form #form_material="ngForm" id="form_material">

                            <table id="table_providers1" class="table table-striped table-bordered table-hover font-table">
                                <thead>

                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            Codigo:
                                        </td>
                                        <td>
                                            <input class="code_mater form-control input-modified" type="text" name="idsupply_provider" [(ngModel)]="Supply_Edit.idsupply_provider"
                                                readonly>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>
                                            Codigo Material:
                                        </td>
                                        <td>
                                            <input class="code_mater form-control input-modified" type="text" name="supply_provider_code" [(ngModel)]="Supply_Edit.supply_provider_code"
                                                readonly>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>
                                            Descripción:
                                        </td>
                                        <td>
                                            <input class="code_mater form-control input-modified" type="text" name="code_des" [(ngModel)]="Supply_Edit.description" readonly>
                                        </td>

                                    </tr>

                                    <tr>
                                        <td> V/Unitario:</td>
                                        <td>
                                            <input class="code_mater form-control input-modified" type="text" name="supply_vlru" #supply_vlru="ngModel" [(ngModel)]="Supply_Edit.supply_vlru"
                                                (keyup)="operaciones($event)" number required>
                                            <span *ngIf="supply_vlru.errors?.number && supply_vlru.touched" class="error_message">ingrese un valor numerico</span>
                                            <span *ngIf="supply_vlru.errors?.required && supply_vlru.touched" class="error_message">el campo es requerido</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td> Descuento %:</td>
                                        <td>
                                            <input class="code_mater form-control input-modified" type="text" name="supply_discount" #supply_discount="ngModel" [(ngModel)]="Supply_Edit.supply_discount"
                                                (keyup)="operaciones($event)" required number>
                                            <span *ngIf="supply_discount.errors?.number && supply_discount.touched" class="error_message">ingrese un valor numerico</span>
                                            <span *ngIf="supply_discount.errors?.required && supply_discount.touched" class="error_message">el campo es requerido</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td> V/con Descuento:</td>
                                        <td>
                                            <input class="code_mater form-control input-modified" type="text" name="vdescuento" [(ngModel)]="Supply_Edit.vdescuento"
                                                readonly>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Iva:</td>
                                        <td>
                                            <input class="code_mater form-control input-modified" type="text" name="supply_iva" #supply_iva="ngModel" [(ngModel)]="Supply_Edit.supply_iva"
                                                (keyup)="operaciones($event)" required number>
                                            <span *ngIf="supply_iva.errors?.number && supply_iva.touched" class="error_message">ingrese un valor numerico</span>
                                            <span *ngIf="supply_iva.errors?.required && supply_iva.touched" class="error_message">el campo es requerido</span>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>V/Total:</td>
                                        <td>
                                            <input class="code_mater form-control input-modified" type="text" name="vtotal" [(ngModel)]="Supply_Edit.vtotal" readonly>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                        <div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn_danger btn-sm" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn_success btn-sm" data-dismiss="modal" (click)="update_material()" [disabled]="!form_material.valid || btnmaterial">Guardar</button>
                </div>
            </div>

        </div>
    </div>
</div>

<!--MODAL DE CONFIMACION-->
<div class="modal fade" id="guardar_provider" tabindex="-1" role="dialog" aria-labelledby="guardar_provider" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Guardar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <p class="text-center text-muted p-3">Esta seguro que desea Crear El Proveedor ?</p>
                    </div>
                </form>
            </div>
            <div class=" modal-footer">
                <button type="button" class="btn btn_danger btn-sm" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn_success btn-sm" (click)="Onsave()" data-dismiss="modal">Guardar</button>
            </div>
        </div>
    </div>
</div>

<!--MODAL DE CONFIMACION-->
<div class="modal fade" id="update_provider" tabindex="-1" role="dialog" aria-labelledby="update_provider" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Actualizar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <p class="text-center text-muted p-3">Esta seguro que desea actualizar el Proveedor ?</p>
                    </div>
                </form>
            </div>
            <div class=" modal-footer">
                <button type="button" class="btn btn_danger btn-sm" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn_success btn-sm" (click)="OnUpdate()" data-dismiss="modal">Guardar</button>
            </div>
        </div>
    </div>
</div>