.mtitle{
    color: #fff;
    margin-left:4px;
    text-align: center;
}
.uno{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left:0px;
}
.al{
    text-align: right;
    padding-left:195;
}