<div class="container-fluid container-modified">
    <div class="col-12">
        <h3 class="mb-3 title">Subir Obra</h3>
    </div>

    <div class="col-12">
        <form>


            <div class="form-group row">


                <label for=" " class="col-1 col-form-label label-required">Fecha</label>
                <div class="col-2">
                    <input class="form-control input-modified" type="date" name="date" [(ngModel)]="date" />
                </div>
                <div class="col-2">
                    <input type="file" (change)="onFileChange($event)" multiple="false" />


                </div>
            </div>
            <button class="btn btn_primary btn-sm mr-3 my-2">Importar</button>
            <button class="btn btn_primary btn-sm mr-3 my-2" (click)="check()">Verificar</button>
            <button class="btn btn_primary btn-sm mr-3 my-2" (click)="save()" [disabled]="btn_save">Guardar</button>
            <button class="btn btn_primary btn-sm mr-3 my-2" data-toggle="modal" data-target="#errores" (click)="errors()" [disabled]="btn_errors">Errores</button>
        </form>

        <table id="example" class="table table-striped table-bordered" cellspacing="0" width="200%" style="font-size: 12px">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Pedido</th>
                    <th>Ot</th>
                    <th>Codigo</th>
                    <th>Dirección</th>
                    <th>Estrato</th>
                    <th>Dto Cliente</th>
                    <th>Nombre Cliente </th>
                    <th>Tel Cliente</th>
                    <th>Tel Contacto</th>
                    <th>Municipio</th>
                    <th>Valvula</th>
                    <th>Observaciones</th>
                    <th>Item 1</th>
                    <th>Item 2</th>
                    <th>Item 3</th>
                    <th>Item 4</th>
                    <th>Item 5</th>
                    <th>Tipo De Obra</th>
                    <th>Zona</th>
                    <th>X</th>
                    <th>Y</th>

                </tr>
            </thead>
            <tbody>

                <tr class="item_actividad eliminar_tr" *ngFor="let row of rowDatatable; let i=index">
                    <td>{{i+1}}</td>
                    <td>{{row.A}}</td>
                    <td>{{row.B}}</td>
                    <td>{{row.C}}</td>
                    <td>{{row.D}}</td>
                    <td>{{row.E}}</td>
                    <td>{{row.F}}</td>
                    <td>{{row.G}}</td>
                    <td>{{row.H}}</td>
                    <td>{{row.I}}</td>
                    <td>{{row.J}}</td>
                    <td>{{row.K}}</td>
                    <td>{{row.L}}</td>
                    <td>{{row.M}}</td>
                    <td>{{row.N}}</td>
                    <td>{{row.O}}</td>
                    <td>{{row.P}}</td>
                    <td>{{row.Q}}</td>
                    <td>{{row.R}}</td>
                    <td>{{row.S}}</td>
                    <td>{{row.T}}</td>
                    <td>{{row.U}}</td>

                </tr>

            </tbody>
        </table>

    </div>
</div>

<!--MODAL PARA INGRESAR LAS SERIES-->
<div class="modal fade" id="errores" tabindex="-1" role="dialog" aria-labelledby="errores" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">ERRORES</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">


                <div class="row data-tables">
                    <div class="col-sm-12">
                        <table id="series" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Item</th>
                                    <th>codigo</th>
                                    <th>pedido</th>
                                    <th>oT</th>
                                    <th>Municipio</th>
                                    <th>Sub tipo de obra</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of error; let i=index" class="tr1 text-center ">
                                    <td>{{i + 1}}</td>
                                    <td>{{row.codigo}}</td>
                                    <td>{{row.pedido}}</td>
                                    <td>{{row.ot}}</td>
                                    <td>{{row.municipio}}</td>
                                    <td>{{row.obr}}</td>


                                </tr>

                            </tbody>
                        </table>
                        <div>

                        </div>
                    </div>
                </div>



            </div>
            <div class=" modal-footer">
                <button type="button" class="btn btn_danger btn-sm" data-dismiss="modal">Cerrar</button>

            </div>
        </div>
    </div>
</div>





<div style="position: fixed;top: 20%; left:30%; width: 40%;" [hidden]="hidden">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">RESULTADO</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">


                <div class="row data-tables">
                    <div class="col-sm-12">
                        <table id="series" class="table table-striped table-bordered" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Item</th>
                                    <th>Sub Tipo</th>
                                    <th>Cantidad</th>


                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of response; let i=index" class="tr1 text-center ">
                                    <td>{{i + 1}}</td>
                                    <td>{{row.subtipo_obr_internas_name}}</td>
                                    <td>{{row.cantidad}}</td>

                                </tr>


                            </tbody>
                        </table>

                        <div>
                            Total {{total}}
                        </div>
                    </div>
                </div>



            </div>
            <div class=" modal-footer">
                <button type="button" class="btn btn_danger btn-sm" (click)="cerrar()">Cerrar</button>

            </div>
        </div>
    </div>
</div>


<div class="loader" *ngIf="loader==false">
    <img src="../../assets/images/preload.svg" alt="">
</div>