<div class="container-fluid container-modified">
  <div class="col-12">
    <h3 class="mb-3 title">Control Series</h3>
  </div>

  <div class="col-12">
    <form>
      <div class="form-group row">
        <label class="col-1 col-form-label"
          >Numero Serie
          <button
            class="fas fa-search-plus btn btn_success btn-sm mr-3 my-3"
            (click)="searchs()"
          ></button>
        </label>
        <div class="col-2">
          <input
            class="form-control input-modified"
            type="text"
            name="series"
            [(ngModel)]="series"
          />
        </div>
      </div>

      <div class="form-group row">
        <label class="col-1 col-form-label">Fecha Inicio</label>
        <div class="col-2">
          <input
            class="form-control input-modified"
            type="date"
            name="ini_date"
            [(ngModel)]="ini_date"
          />
        </div>
        <label class="col-1 col-form-label">Fecha Final</label>
        <div class="col-2">
          <input
            class="form-control input-modified"
            type="date"
            name="end_date"
            [(ngModel)]="end_date"
          />
        </div>
      </div>

      <div class="form-group row">
        <label class="col-1 col-form-label">Almacen</label>
        <div class="col-2">
          <select
            class="form-control input-modified"
            name="cellarsearch"
            [(ngModel)]="cellarsearch"
            required
          >
            <option
              *ngFor="let cellar of cellar"
              value="{{ cellar.idcellar }}"
              >{{ cellar.name }}</option
            >
          </select>
        </div>
        <label class="col-1 col-form-label">Codigo </label>
        <div class="col-2">
          <input class="form-control input-modified" type="text" />
        </div>
        <label class="col-1 col-form-label">Tipo </label>
        <div class="col-2">
          <select
            class="form-control input-modified"
            name="tipomedidor"
            required
          >
            <option></option>
            <option
              *ngFor="let tipomedidor of tipomedidor"
              value="{{ tipomedidor.idTipo_medidor }}"
              >{{ tipomedidor.FLUJO }}</option
            >
          </select>
        </div>
      </div>
    </form>
    <button class="btn btn_primary btn-sm mr-3 my-3" (click)="search()">
      Buscar
    </button>
    <button
      class=" btn btn_success btn-sm mr-3 my-3 fa fa-print"
      (click)="printsave()"
    >
      Imprimir
    </button>
    <button
      class="fas fa-print btn btn_success btn-sm mr-3 my-3"
      data-target="#control_series"
      data-toggle="modal"
    >
      Agregar Medidor
    </button>
  </div>
</div>

<div class="container-fluid container-modified">
  <div class="col-12">
    <div class="form-group">
      <div class="datagrid table-scroll">
        <table
          id="searchtable"
          class="table table-striped table-hover table-bordered table-relative"
        >
          <thead>
            <tr>
              <th>Item</th>
              <th>Imprimir</th>
              <th>Eliminar</th>
              <th>Nro Serie</th>
              <th>Tipo</th>
              <th>Codigo</th>
              <th>Marca</th>
              <th>Lote</th>
              <th>Entrega</th>
              <th>Caja</th>
              <th>Fecha</th>

              <th>Observaciones</th>
              <th>Consecutivo</th>
              <th>Direcion</th>
              <th>Despacho</th>
              <th>Estado</th>
              <th>Editar</th>
            </tr>
          </thead>
          <tbody>
            <tr
              class="item_actividad eliminar_tr"
              *ngFor="let newrow of rowDatasearch; let i = index"
            >
              <td>
                {{ i }}
              </td>
              <td>
                <input
                  class="form-control input-modified"
                  name="checkbox"
                  type="checkbox"
                  [(ngModel)]="newrow.checkbox"
                />
              </td>
              <td>
                <button
                  class="btn_delete  fa fa-trash-o"
                  type="button"
                  (click)="delete(i, newrow)"
                  style="padding: 2px"
                ></button>
                {{ newrow.state }}
              </td>
              <td>
                <input
                  class="form-control input-modified"
                  type="text"
                  name="serie_nro_serie"
                  [(ngModel)]="newrow.serie_nro_serie"
                />
              </td>
              <td>
                <select
                  class="form-control input-modified"
                  name="tipo"
                  [(ngModel)]="newrow.serie_flujo"
                >
                  <option
                    *ngFor="let tipomedidor of tipomedidor"
                    value="{{ tipomedidor.idTipo_medidor }}"
                    >{{ tipomedidor.FLUJO }}</option
                  >
                </select>
              </td>
              <td>
                <input
                  class="form-control input-modified"
                  type="text"
                  name="serie_codigo"
                  [(ngModel)]="newrow.serie_codigo"
                />
              </td>
              <td>
                <input
                  class="form-control input-modified"
                  type="text"
                  name="serie_marca"
                  [(ngModel)]="newrow.serie_marca"
                />
              </td>
              <td>
                <input
                  class="form-control input-modified"
                  type="text"
                  name="serie_lote"
                  [(ngModel)]="newrow.serie_lote"
                />
              </td>
              <td>
                <input
                  class="form-control input-modified"
                  type="text"
                  name="serie_entrega"
                  [(ngModel)]="newrow.serie_entrega"
                />
              </td>
              <td>
                <input
                  class="form-control input-modified"
                  type="text"
                  name="caja"
                  [(ngModel)]="newrow.serie_caja"
                />
              </td>
              <td>
                <input
                  class="form-control input-modified"
                  type="text"
                  name="fecha"
                  [(ngModel)]="newrow.serie_fecha"
                />
              </td>
              <td>
                <input
                  class="form-control input-modified"
                  type="text"
                  name="observaciones"
                  [(ngModel)]="newrow.serie_obs"
                />
              </td>
              <td>
                {{ newrow.consecutive }}
              </td>
              <td>
                {{ newrow.Direccion }}
              </td>
              <td>
                {{ newrow.serie_despacho }}
              </td>
              <td>
                <select
                  class="form-control input-modified"
                  name="tipo"
                  [(ngModel)]="newrow.serie_estado"
                >
                  <option value="1">Disponible</option>
                  <option value="2">Despachado</option>
                  <option value="3">Instalado</option>
                </select>
              </td>

              <td>
                <button
                  class="btn btn_select btn-sm"
                  data-dismiss="modal"
                  (click)="handleClick(i, newrow)"
                >
                  Editar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!--MODAL PARA BUSCAR LOS DESPACHOS-->
<div
  class="modal fade"
  id="control_series"
  tabindex="-1"
  role="dialog"
  aria-labelledby="control_series"
  aria-hidden="true"
>
  <div class="modal-dialog modal-extra-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">BUSCAR</h5>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-2">
            <label for="">Almacen</label>
            <select
              class="form-control input-modified"
              name="purchases_cellar"
              [(ngModel)]="cellarsave"
              #cellarsav="ngModel"
              required
              (change)="btn_true()"
            >
              <option
                *ngFor="let cellar of cellar"
                value="{{ cellar.idcellar }}"
                >{{ cellar.name }}</option
              >
            </select>
            <span
              *ngIf="cellarsav.errors?.required && cellarsav.touched"
              class="error_message"
              >el campo es requerido</span
            >
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <label for="">Buscar</label>

            <input
              type="file"
              (change)="onFileChange($event)"
              multiple="false"
            />
          </div>
        </div>

        <div class="row data-tables">
          <div class="col-sm-12">
            <table
              id="example"
              class="table table-striped table-bordered"
              cellspacing="0"
              width="100%"
            >
              <thead>
                <tr>
                  <th>Item</th>
                  <th>Imprimir</th>
                  <th>Eliminar</th>
                  <th>Nro Serie</th>
                  <th>Tipo</th>
                  <th>Codigo</th>
                  <th>Marca</th>
                  <th>Lote</th>
                  <th>Entrega</th>
                  <th>Caja</th>
                  <th>Fecha</th>
                  <th>Observaciones</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  class="item_actividad eliminar_tr"
                  *ngFor="let row of rowDatatable; let i = index"
                >
                  <td>
                    {{ i }}
                  </td>
                  <td>
                    <input
                      class="form-control input-modified"
                      name="checkbox"
                      type="checkbox"
                      [(ngModel)]="row.checkbox"
                    />
                  </td>
                  <td>
                    <button
                      class="btn_delete  fa fa-trash-o"
                      type="button"
                      (click)="delete(i, row)"
                      style="padding: 2px"
                    ></button>
                  </td>
                  <td>
                    <input
                      class="form-control input-modified"
                      type="text"
                      name="serie_nro_serie"
                      [(ngModel)]="row.A"
                    />
                  </td>
                  <td>
                    <select
                      class="form-control input-modified"
                      name="serie_flujo"
                      [(ngModel)]="row.B"
                      required
                    >
                      <option
                        *ngFor="let tipomedidor of tipomedidor"
                        value="{{ tipomedidor.idTipo_medidor }}"
                        >{{ tipomedidor.FLUJO }}</option
                      >
                    </select>
                  </td>
                  <td>
                    <input
                      class="form-control input-modified"
                      type="text"
                      name="serie_codigo"
                      [(ngModel)]="row.serie_codigo"
                    />
                  </td>
                  <td>
                    <input
                      class="form-control input-modified"
                      type="text"
                      name="serie_marca"
                      [(ngModel)]="row.C"
                    />
                  </td>
                  <td>
                    <input
                      class="form-control input-modified"
                      type="text"
                      name="serie_lote"
                      [(ngModel)]="row.serie_lote"
                    />
                  </td>
                  <td>
                    <input
                      class="form-control input-modified"
                      type="text"
                      name="serie_entrega"
                      [(ngModel)]="row.serie_entrega"
                    />
                  </td>
                  <td>
                    <input
                      class="form-control input-modified"
                      type="text"
                      name="serie_caja"
                      [(ngModel)]="row.serie_caja"
                    />
                  </td>
                  <td>
                    <input
                      class="form-control input-modified"
                      type="date"
                      name="serie_fecha"
                      [(ngModel)]="row.D"
                      required
                    />
                  </td>
                  <td>
                    <input
                      class="form-control input-modified"
                      type="text"
                      name="serie_obs"
                      [(ngModel)]="row.E"
                    />
                  </td>
                </tr>
              </tbody>
            </table>

            <button
              class="btn_add"
              (click)="addrowtable()"
              [disabled]="btn_add"
            >
              <i class="fa fa-plus"></i>
            </button>
          </div>
        </div>
      </div>
      <div class=" modal-footer">
        <button
          type="button"
          class="btn btn_danger btn-sm"
          data-dismiss="modal"
        >
          Cerrar
        </button>
        <button
          class="btn btn_primary btn-sm mr-3 my-3"
          data-toggle="modal"
          data-target="#guardar"
          (click)="Onsave()"
          [disabled]="btn_save"
        >
          Guardar
        </button>
        <button
          class="btn btn_primary btn-sm mr-3 my-3"
          data-toggle="modal"
          data-target="#guardar"
          (click)="print()"
        >
          Imprimir
        </button>
      </div>
    </div>
  </div>
</div>

<div class="loader" *ngIf="loader == false">
  <img src="../../assets/images/preload.svg" alt="" />
</div>
