<div class="row">
    <div class="col-9">
        <h1 class="sub-title">Datos/cliente</h1>
        <div class="row">
            <div class="col-5">
                <table class="table table-striped table-bordered table-hover" style="font-size: 13px;">
                    <thead>
                        <tr>
                            <th colspan="4">Datos Ususario</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>CSC</td>
                            <td>
                                <input type="text" class="form-control input-modified" #consecutive="ngModel" name="consecutive" [(ngModel)]="internalmodel.consecutive"
                                    readonly>
                            </td>
                            <td>Cedula</td>
                            <td>
                                <input type="text" class="form-control input-modified" #Cedula="ngModel" name="Cedula" [(ngModel)]="internalmodel.Cedula"
                                    readonly>
                            </td>
                        </tr>
                        <tr>
                            <td>Solicitante</td>
                            <td>
                                <input type="text" class="form-control input-modified" #Solicitante="ngModel" name="Solicitante" [(ngModel)]="internalmodel.Solicitante"
                                    readonly>
                            </td>
                            <td>Telefono</td>
                            <td>
                                <input type="text" class="form-control input-modified" #Telefono="ngModel" name="Telefono" [(ngModel)]="internalmodel.Telefono"
                                    readonly>
                            </td>
                        </tr>
                        <tr>

                            <td>Suscriptor</td>
                            <td>
                                <input type="text" class="form-control input-modified" #Instalacion="ngModel" name="Instalacion" [(ngModel)]="internalmodel.Instalacion"
                                    readonly>
                            </td>

                            <td>Estrato</td>
                            <td>

                                <input class="form-control input-modified" type="text" #Estrato="ngModel" name="Estrato" [(ngModel)]="internalmodel.Estrato">
                            </td>


                        </tr>
                        <tr>
                            <td>Municipio</td>
                        
                                <td>
                                    <input type="text" class="form-control input-modified" #nmunicipio="ngModel" name="Instalacion" [(ngModel)]="internalmodel.nmunicipio"
                                        readonly>
                                </td>
                                

                      
                            <td>Producto</td>
                            <td>
                                <input type="text" class="form-control input-modified" #producto="ngModel" name="producto" [(ngModel)]="internalmodel.producto"
                                    readonly>
                            </td>
                        </tr>
                        <tr>
                            <td>Barrio</td>
                            <td>

                                <input class="form-control input-modified" type="text" #Barrio="ngModel" name="Barrio" [(ngModel)]="internalmodel.Barrio">
                            </td>
                            <td>Zona</td>
                            <td>
                                <input class="form-control input-modified" type="text" #Zona="ngModel" name="Zona" [(ngModel)]="internalmodel.Zona">
                            </td>
                        </tr>






                    </tbody>
                </table>

                <table class="table table-striped table-bordered table-hover" style="font-size: 13px;">
                    <tr>


                        <td>
                            <button class="btn btn-sm btn-block btn_primary mb-1" data-toggle="modal" data-target="#mapa">Dirección</button>
                        </td>
                        <td>
                            <input type="text" class="form-control input-modified col-12" #Direccion="ngModel" name="Direccion" [(ngModel)]="internalmodel.Direccion"
                                readonly>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-7">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Solicitud</th>
                            <th>Orden</th>
                            <th>Tipo</th>
                            <th>Estado</th>
                            <th>Fecha/Estado
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input type="text" class="form-control input-modified" #Pedido="ngModel" name="Pedido" [(ngModel)]="internalmodel.Pedido"
                                    readonly>
                            </td>
                            <td>
                                <input type="text" class="form-control input-modified" #Pedido="ngModel" name="orden" [(ngModel)]="internalmodel.orden"
                                    readonly>
                            </td>
                            <td>
                                <input class="form-control input-modified" type="text" #worki_state="ngModel" name="worki_state" [(ngModel)]="internalmodel.idtipoobr+ ' - '+  internalmodel.tipos_obr_internas_name ">
                            </td>
                            <td>
                                <select class="form-control input-modified" #worki_state="ngModel" name="worki_state" [(ngModel)]="internalmodel.worki_state"
                                    (change)="f_statdo()">

                                    <option *ngFor="let estado of estado; let i=index" value="{{estado.idstate_obr}}">

                                        {{estado.state_obr_name}}</option>
                                </select>

                                
                            </td>

                            <td>

                                <input class="form-control input-modified" type="date" #Fecha_Estado="ngModel" name="Fecha_Estado" [(ngModel)]="internalmodel.Fecha_Estado">
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table class="table table-striped table-bordered table-hover " style="font-size: 13px;">
                    <thead>
                        <tr>
                            <th width="10%">Orden</th>
                            <th width="30%">Tipo</th>

                            <th width="7%">Asig/Interve</th>
                            <th width="7%">Legalizada</th>
                            <th width="7%">Seleccionar</th>
                          
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="item_actividad eliminar_tr" *ngFor="let newrow of rowot; let i=index">
                            <td style="font-size: 12px;">
                                {{newrow.orden}}
                            </td>

                            <td>

{{newrow.idtipoobr+'-'+ newrow.tipos_obr_internas_name}}

                            </td>

                            <td>
                                <input class="form-control input-modified" type="date" #fstate="ngModel" name="fstate" [(ngModel)]="newrow.fstate">
                            </td>
                            <td>
                                <input class="form-control input-modified" type="date" #fprogra="ngModel" name="fprogra" [(ngModel)]="newrow.fprogra">
                            </td>
                            <td>
                                <button  (click)="searchobri(i,newrow)"> seleccionar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <h1 class="sub-title mt-3">Datos De La Instalación</h1>
        <div class="col-12">

            <div class="form-group row">
                <label for="" class="col-1 col-form-label">Fecha de Asignación</label>
                <div class="col-2">
                    <input class="form-control input-modified" type="date" #Atualizacion="ngModel" name="Atualizacion" [(ngModel)]="internalmodel.Atualizacion">
                </div>

                <label for="" class="col-1 col-form-label">Dias Ans</label>
                <div class="col-2">
                    <input class="form-control input-modified" type="text" #ans="ngModel" name="ans" [(ngModel)]="internalmodel.ans" readonly>
                </div>


                <label for="" class="col-1 col-form-label">LLeva/cocineta</label>
                <div class="col-2">
                    <input class="form-control input-modified" type="checkbox" #Cocineta="ngModel" name="Cocineta" [(ngModel)]="internalmodel.Cocineta">
                </div>

                <label for="" class="col-1 col-form-label">Serie/Medidor</label>
                <div class="col-2">
                    <input class="form-control input-modified" type="text" #Serie_Medidor="ngModel" (change)="valuemedidor()" name="Serie_Medidor"
                        [(ngModel)]="internalmodel.Serie_Medidor">

                </div>
            </div>


            <div class="form-group row">
                <label for="" class="col-1 col-form-label">Fecha de Vencimiento</label>
                <div class="col-2">
                    <input class="form-control input-modified" type="date" #Vencimiento="ngModel" name="Vencimiento" [(ngModel)]="internalmodel.Vencimiento">
                </div>

                <label for="" class="col-1 col-form-label">Fecha/Svc</label>
                <div class="col-2">
                    <input class="form-control input-modified" type="date" #Fecha_Svc="ngModel" name="Fecha_Svc" [(ngModel)]="internalmodel.Fecha_Svc">
                </div>


                <label for="" class="col-1 col-form-label">Cocineta Entreg</label>
                <div class="col-2">
                    <input class="form-control input-modified" type="checkbox" #Cocineta_Entregada="ngModel" name="Cocineta_Entregada" [(ngModel)]="internalmodel.Cocineta_Entregada">
                </div>

                <label for="" class="col-1 col-form-label">Marca Medido</label>
                <div class="col-2">
                    <input class="form-control input-modified" type="text" #serie_marca="ngModel" name="serie_marca" [(ngModel)]="internalmodel.serie_marca">
                </div>
            </div>


            <div class="form-group row">
                <label for="" class="col-1 col-form-label">Fecha/Constru</label>
                <div class="col-2">
                    <input class="form-control input-modified" type="date" #Fecha_Constru="ngModel" name="Fecha_Constru" [(ngModel)]="internalmodel.Fecha_Constru">
                </div>

                <label for="" class="col-1 col-form-label">Acta Certificación</label>
                <div class="col-2">
                    <input class="form-control input-modified" type="text" #Acta="ngModel" name="Acta" [(ngModel)]="internalmodel.Acta">
                </div>

                <label for="" class="col-1 col-form-label">Tipo Medidor</label>
                <div class="col-2">
                    <select class="form-control input-modified" #Tipo_medidor="ngModel" name="Tipo_medidor" [(ngModel)]="internalmodel.Tipo_medidor">
                        <option value="0"> ALMACEN</option>
                        <option value="1"> CLIENTE</option>
                    </select>

                </div>
            </div>


            <div class="form-group row">
                <label for="" class="col-1 col-form-label">Observaciones Pedido</label>
                <div class="col-11">
                    <textarea class="form-control input-modified textarea-modified" #Obs_Pedido="ngModel" name="Obs_Pedido" [(ngModel)]="internalmodel.Obs_Pedido" readonly></textarea>
                </div>
            </div>

            
            <div class="form-group row">
                <label for="" class="col-1 col-form-label">Puntos</label>
                <div class="col-7">
                    <textarea class="form-control input-modified textarea-modified" #puntos="ngModel" name="puntos" [(ngModel)]="internalmodel.puntos" readonly></textarea>
                </div>
            </div>
        </div>



        <h1 class="sub-title mt-3"></h1>
        <div class="col-12">

            <div class="form-group row">
                <label for="" class="col-1 col-form-label">Observaciones</label>
                <div class="col-11">
                    <textarea class="form-control input-modified textarea-modified" #Obs_servicio="ngModel" name="Obs_servicio" [(ngModel)]="internalmodel.Obs_servicio"></textarea>
                </div>
            </div>
        </div>
    </div>

    <div class="col-3">
        <h1 class="sub-title">Datos/complementarios</h1>

        <div class="col-12">

            <div class="form-group row">
                <label for="" class="col-4 col-form-label">Programado a:</label>
                <div class="col-8">
                    <input class="form-control input-modified " ngui-auto-complete (change)="programado_AChanged()" [(ngModel)]="internalmodel.nameprogramado"
                        [source]="Searchemployee" list-formatter="full_name" path-to-data="employee" value-property-name="idemployees"
                        display-property-name="full_name" min-chars="1" name="nameprogramado" #nameprogramado="ngModel" tab-to-select="true"
                    />


                </div>
            </div>
            <div class="form-group row">
                <label class="col-4 col-form-label">Fecha/ Programado a</label>
                <div class="col-8">
                    <input class="form-control input-modified" type="date" #Fecha_Recorrido="ngModel" name="Fecha_Prog" [(ngModel)]="internalmodel.Fecha_Prog">
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-3 col-form-label">Recorredor</label>
                <div class="col-9">

                    <input class="form-control input-modified " ngui-auto-complete (change)="Hace2Changed()" [(ngModel)]="internalmodel.nameHace_2"
                        [source]="Searchemployee" list-formatter="full_name" path-to-data="employee" value-property-name="idemployees"
                        display-property-name="full_name" min-chars="1" name="nameHace_2" #nameHace_2="ngModel" />
                </div>
            
            </div>
            <div class="form-group row">
                <label class="col-3 col-form-label">Instalador</label>
                <div class="col-9">

                    <input class="form-control input-modified " ngui-auto-complete (change)="PlaneaChanged()" [(ngModel)]="internalmodel.namePlanea"
                        [source]="Searchemployee" list-formatter="full_name" path-to-data="employee" value-property-name="idemployees"
                        display-property-name="full_name" min-chars="1" name="namePlanea" #namePlanea="ngModel" />
                </div>


            
            </div>
            <div class="form-group row">
                <label class="col-3 col-form-label">Auxiliar</label>
                <div class="col-9">

                    <input class="form-control input-modified " ngui-auto-complete (change)="Hace1Changed()" [(ngModel)]="internalmodel.nameHace_1"
                        [source]="Searchemployee" list-formatter="full_name" path-to-data="employee" value-property-name="idemployees"
                        display-property-name="full_name" min-chars="1" name="nameHace_1" #nameHace_1="ngModel" />


                </div>
               
            </div>
            <div class="form-group row">
                <label class="col-3 col-form-label">Vendedor</label>
                <div class="col-9">

                    <input class="form-control input-modified "  [(ngModel)]="internalmodel.vendedor"
                        readonly/>
                </div>
               
            </div>
            <div class="form-group row">
                <label  class="col-3 col-form-label">Inmueble</label>
                <div class="col-9">

                    <input class="form-control input-modified "  [(ngModel)]="internalmodel.inmueble"
                       readonly />
                </div>
               
            </div>
            <div class="form-group row">
                <label class="col-3 col-form-label">Promociones</label>
                <div class="col-9">

                    <input class="form-control input-modified "  [(ngModel)]="internalmodel.promo"
                         readonly/>
                </div>
             
            </div>
            <div class="form-group row">
                <label class="col-3 col-form-label">Tipo De Instalación</label>
                <div class="col-9">

                    <input class="form-control input-modified "  [(ngModel)]="internalmodel.tipo_instal"
                         readonly/>
                </div>
             
            </div>
       

        </div>
        <button class="btn btn-sm btn-block btn_primary mb-3" data-toggle="modal" data-target="#eventos_dac" (click)="event()">Eventos y Dac</button>




        <h1 class="sub-title mt-5">Historial/Movimientos</h1>
        <button class="btn btn-sm btn-block btn_primary mb-3" data-toggle="modal" data-target="#histo" (click)="search_histo()">Historial Movimiento</button>

        <button class="btn btn-sm btn-block btn_primary mb-3" data-toggle="modal" data-target="#subir_pdf">Subir Pdf</button>


        <div class="form-group row">

            <div class="col-8">
                <input type="file" (change)="upload_image($event)" name="input_image" [(ngModel)]="input_image" multiple="">
            </div>
            <div class="col-4">
                <button class="btn btn-sm btn-block btn_primary mb-3" data-toggle="modal" data-target="#subir_imagenes" (click)="imagesend()">Subir Imagenes</button>
            </div>
        </div>

        <h1 class="sub-title mt-3">Ver/Documentos</h1>
        <button class="btn btn-sm btn-block btn_primary mb-3" data-toggle="modal" data-target="#ver_imagenes" (click)="view_image()">Ver Documentos</button>
    </div>
</div>




<!--MODAL PARA SUBIR PDF-->
<div class="modal fade" id="subir_pdf" tabindex="-1" role="dialog" aria-labelledby="subir_pdf" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">SUBIR PDF</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <hr>

                <div class="row data-tables">
                    <div class="col-sm-12">
                        <img id="scream" src="" width="320">


                        <canvas id="main-canvas" width="220" style="display:none"></canvas>






                        <div class="form-group row">



                            <div class="col-4">
                                <canvas id="micanvas2" style="border:1px solid #d3d3d3;" height="200"></canvas>
                            </div>


                        </div>

                        <h1 class="sub-title mt-5">Cargar/Archivos</h1>


                        <div class="form-group row">



                            <div class="col-4">
                                <input type="file" (change)="upload($event)">
                            </div>
                            <div class="col-2">
                                <input class="form-control input-modified" type="text" id="consec" name="consecutivo">

                            </div>
                            <div class="col-2">
                                <button type="button" class="btn btn_danger btn-sm" (click)="enviarpdf()">Guardar</button>
                            </div>

                        </div>




                    </div>
                </div>
            </div>
            <div class=" modal-footer">
                <button type="button" class="btn btn_danger btn-sm" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<!--MODAL VER DOCUMENTOS-->
<div class="modal fade" id="ver_imagenes" tabindex="-1" role="dialog" aria-labelledby="subir_pdf" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">VER IMAGENES Y DOCUMENTOS </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <hr>

                <div class="row data-tables">
                    <div class="col-sm-12">
                        <div class="form-group row">
                            <div class="col-sm-7">

                                <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>

                            </div>
                            <div class="col-sm-5">


                                <table id="table_income" class="table table-striped table-hover table-bordered table-relative">
                                    <thead>
                                        <tr>
                                            <th class="width-table-1">Nombre</th>
                                            <th class="width-table-2">documento</th>
                                            <th class="width-table-2">Eliminar</th>


                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="item_actividad eliminar_tr" *ngFor="let view_pdf of view_pdf; let i=index">
                                            <td>
                                                {{i+1}}
                                            </td>
                                            <td>
                                                <a target="_blank" href="{{view_pdf.ulr}}"> {{view_pdf.name}}</a>
                                            </td>
                                            <td>

                                            </td>

                                            <tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>


                    </div>
                </div>
            </div>
            <div class=" modal-footer">
                <button type="button" class="btn btn_danger btn-sm" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>



<!--MODAL VER mapa-->
<div class="modal fade" id="mapa" tabindex="-1" role="dialog" aria-labelledby="subir_pdf" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">MAPA </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <hr>

                <div class="row data-tables">
                    <div class="col-sm-12">
                        <div class="form-group row">
                           
                            <div class="col-sm-12">
                                <div id="map" class="google-map" style="position: fixed;overflow: hidden;height:  600px;width:100%;margin-top: 10px;"></div>

                            </div>

    
                        </div>


                    </div>
                </div>
            </div>
            <div class=" modal-footer">
                <button type="button" class="btn btn_danger btn-sm" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>





<!--MODAL PARA EVENTOS DAC-->
<div class="modal fade" id="eventos_dac" tabindex="-1" role="dialog" aria-labelledby="eventos_dac" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">EVENTOS DAC</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">


                <div class="modal-body">
                    <form id="dac" #dac="ngForm">
                        <div class="form-group row">
                            <label for="" class="col-1 col-form-label">Clasificacion</label>
                            <div class="col-2">
                                <select class="form-control input-modified" (change)="motivos()" #clasificacion_da="ngModel" name="id_clasif" [(ngModel)]="internaldac.id_clasif"
                                    required>
                                    <option *ngFor="let clasificacion of clasificacion" value="{{clasificacion.idclasificacion_dac}}">
                                        {{clasificacion.name_dac}}</option>
                                </select>
                                <span *ngIf="clasificacion_da.errors?.required && clasificacion_da.touched" class="error_message">el campo es requerido</span>
                            </div>

                            <label for="" class="col-1 col-form-label">Motivos DAC o no atencion</label>
                            <div class="col-3">

                                <select class="form-control input-modified" #motivo_da="ngModel" name="id_mot" [(ngModel)]="internaldac.id_mot" required>
                                    <option *ngFor="let motv of motv" value="{{motv.idmotivos_dac}}">
                                        {{motv.name_mot}}</option>
                                </select>
                                <span *ngIf="motivo_da.errors?.required && motivo_da.touched" class="error_message">el campo es requerido</span>
                            </div>


                            <label for="" class="col-1 col-form-label">Fecha</label>
                            <div class="col-2">
                                <input class="form-control input-modified" type="date" #date_da="ngModel" name="date" [(ngModel)]="internaldac.date" required>
                                <span *ngIf="date_da.errors?.required && date_da.touched" class="error_message">el campo es requerido</span>
                            </div>

                        </div>
                        <div class="form-group row">
                            <label for="" class="col-1 col-form-label">Observaciones</label>

                            <textarea class="form-control input-modified textarea-modified" #obs_da="ngModel" name="obs" [(ngModel)]="internaldac.obs"></textarea>



                        </div>
                    </form>
                    <div class="form-group row">
                        <div class="col-1">
                            <button type="button" class="btn btn_danger btn-sm" [disabled]="!dac.valid || btnupdate" (click)="update_dac()">Atualizar</button>
                        </div>
                        <div class="col-1">
                            <button type="button" class="btn btn-sm btn_primary" (click)="save_dac()" data-dismiss="modal" [disabled]="!dac.valid || btninsert">Guardar</button>
                        </div>
                    </div>

                    <table id="table_income" class="table table-striped table-hover table-bordered table-relative">
                        <thead>
                            <tr>
                                <th class="width-table-1">Editar</th>
                                <th class="width-table-2">Clasificación</th>
                                <th class="width-table-2">Motivo DAC</th>
                                <th class="width-table-4">Fecha</th>
                                <th class="width-table-2">Observaciones</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr class="item_actividad eliminar_tr" *ngFor="let newrow of rowdac; let i=index">
                                <td>
                                    <button class="btn btn-sm btn_success" value="{{newrow.iddac_worki}}" (click)="search_dac($event)">Editar</button>
                                </td>
                                <td>
                                    {{newrow.name_dac}}
                                </td>
                                <td>
                                    {{newrow.name_mot}}
                                </td>
                                <td>
                                    {{newrow.date}}
                                </td>
                                <td>
                                    {{newrow.obs}}
                                </td>
                                <tr>
                        </tbody>
                    </table>
                </div>


                <div class=" modal-footer">
                    <button type="button" class="btn btn_danger btn-sm" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

</div>
<!--MODAL PARA HISTORICO-->
<div class="modal fade" id="histo" tabindex="-1" role="dialog" aria-labelledby="histo" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">HISTORICO</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">


                <div class="modal-body">


                    <table id="histo_table" class="table table-striped table-hover table-bordered table-relative" style="font-size: 12px">
                        <thead>
                            <tr>
                                <th class="width-table-1">Item</th>
                                <th class="width-table-2">Consecutivo</th>
                                <th class="width-table-6">Obs</th>
                                <th class="width-table-2">Tipo</th>
                                <th class="width-table-2">Estado</th>
                                <th class="width-table-3">Fecha</th>
                                <th class="width-table-2">Usuario</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let newrow of histo; let i=index" class="tr1 text-center ">

                                <td>
                                    {{i+1}}
                                </td>
                                <td>
                                    {{newrow.histo_obr_consec}}
                                </td>

                                <td>
                                    {{newrow.histo_obr_obs}}
                                </td>
                                <td>
                                    {{newrow.nombretipo}}
                                </td>
                                <td>
                                    {{newrow.state_obr_name}}
                                </td>
                                <td>
                                    {{newrow.usuario_name}}
                                </td>
                                <td>
                                    {{newrow.histo_obr_date}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>


                <div class=" modal-footer">
                    <button type="button" class="btn btn_danger btn-sm" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- atualizar items aplicacbles-->
<div class="modal fade" id="items_aplica" tabindex="-1" role="dialog" aria-labelledby="items_aplica" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">ITEMS APLICABLES {{nameot}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">




                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>ITEMS/APLICABLES</th>
                            <th>ACCION</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="item_actividad eliminar_tr" *ngFor="let newrow of items_aplic; let i=index">
                            <td>{{newrow.items_name}}</td>
                            <td>
                                <button type="button" class="btn btn-sm btn_primary fa fa-pencil-square-o" style="border-radius:50%;" value="{{newrow.items_name}}"
                                    (click)="search_itemsapli(i,newrow)"></button>
                                <button type="button" class="btn btn-sm btn_primary fa fa-trash" style="border-radius:50%;" (click)="delete_items(i,newrow)"></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <input class="form-control input-modified" type="text" name="name_item" [(ngModel)]="name_item">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="itemaplic_inser()">Crear</button>
                <button type="button" class="btn btn-primary" (click)="itemaplic_update()">Atualizar</button>
            </div>
        </div>
    </div>
</div>

<div class="loader" *ngIf="loader==false">
    <img src="../../assets/images/preload.svg" alt="">
  </div>