<div class="container-fluid container-modified ">
    <div class="col-12"><h3 class="mb-3 title">Subtipo de obra</h3></div>
    <br />


    <div class="row">
            <div class="col-sm-6 p-auto tres">
              <div class="form-group row">
                <button type="button" class="btn btn-sm btn_primary m-2"
                        data-toggle="modal" data-target="#crear"
                        >
                  <i class="fa fa-save"></i> Crear
                </button>

                <button
                  type="button"
                  class="btn btn-sm btn_success m-2"
                  (click)="search()"
                >
                  <i class="fa fa-search"></i> Buscar
                </button>
              </div>
            </div>
          </div>

          <div class="table-min-heigth">
                <table class="table table-striped table-bordered table-hover" id="table_informe">
                    <thead>
                        <tr>
                            <th width="1%">Id</th>
                            <th width="5%">Subtipo obra</th>
                            <th width="5%">Tipo</th>
                            <th width="1%">Prioridad</th>
                            <th width="1%">ANS</th>
                            <th width="1%">Sub estado</th>
                            <th width="1%">Editar</th>
                            <th width="1%">Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let row of rows; index as i">
                            <td>{{ i + 1 }}</td>

                            <td><input type="text" name="nameSubline" [(ngModel)]="row.subtipo_obr_internas_name"   ></td>
                            <td>
                                <select  class="form-control input-modified" name="id_tipo" [(ngModel)]="row.id_tipo" #id_tipo="ngModel">
                                    <option *ngFor="let row of rows" value="{{row.idtipos_obr_internas }}">{{ row.tipos_obr_internas_name }}</option>
                                   </select>
                            </td>
                            <td><input type="text" name="nameSubline" [(ngModel)]="row.priority"                    ></td>
                            <td><input type="text" name="nameSubline" [(ngModel)]="row.ans"                         ></td>
                            <td>
                                
                                <select  class="form-control input-modified" name="id_state" [(ngModel)]="row.sub_state" #sub
                                _state="ngModel">
                                <option *ngFor="let row of rowsState" value="{{row.idsub_state }}">{{ row.sub_state_name }}</option>
                               </select>                  </td>

                            <td>
                                    <button type="button" class="btn btn-sm btn_primary m-2"
                                    data-toggle="modal" data-target="#sincronizacion"
                                    (click)="update(i, row)" >
                                            <i class="fa fa-sync"></i> 
                                          </button>
                          
                            </td>
                            <td>
                                    <button type="button" class="btn btn-sm btn_danger m-2"
                                    (click)="delete(i, row)" >
                                            <i class="fa fa-trash"></i> 
                                          </button>
                            </td>
                        </tr>
                                                          
                    </tbody>
                </table>

    </div>
    

    <!-- modal para editar y crear contratos -->
<div class="modal fade" id="crear" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Crear Subtipo de obra</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">


                        <div class="table-min-heigth">


                            <div class="form-group row">
                                <label for="" class="col-3 col-form-label label-required">Tipo: </label>
                                <div class="col-9">
                                    <select  class="form-control input-modified" name="id_tipo" [(ngModel)]="subworktypemodel.id_tipo" #id_tipo="ngModel">
                                        <option *ngFor="let row of rowstype" value="{{row.idtipos_obr_internas }}">{{ row.tipos_obr_internas_name }}</option>
                                       </select>
                                </div>
                            </div>
                   
                        <div class="form-group row">
                            <label for="" class="col-3 col-form-label label-required">Subtipo de obra: </label>
                            <div class="col-9">
                                <input class="form-control input-modified" type="text" name="stoin"  [(ngModel)]="subworktypemodel.stoin">
                            </div>
                        </div>


                        <div class="form-group row">
                            <label for="" class="col-3 col-form-label label-required">Prioridad: </label>
                            <div class="col-9">
                                <input class="form-control input-modified" type="text" name="priority"  [(ngModel)]="subworktypemodel.priority">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="" class="col-3 col-form-label label-required">ANS: </label>
                            <div class="col-9">
                                <input class="form-control input-modified" type="text" name="ans"  [(ngModel)]="subworktypemodel.ans">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-3 col-form-label label-required">Sub-estado: </label>
                            <div class="col-9">

                                    <select  class="form-control input-modified" name="id_state" [(ngModel)]="subworktypemodel.sub_state" #sub
                                    _state="ngModel">
                                    <option *ngFor="let row of rowsState" value="{{row.idsub_state }}">{{ row.sub_state_name }}</option>
                                   </select>  
                            
                                
                            </div>
                        </div>

    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn_danger btn-sm" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn_success btn-sm"  data-toggle="modal" data-target="#guardar">Guardar</button>
    
                </div>
            </div>
        </div>
    </div>
    

<!--MODAL DE CONFIMACION-->
<div class="modal fade" id="guardar" tabindex="-1" role="dialog" aria-labelledby="guardar_provider" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Guardar</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <p class="text-center text-muted p-3">Esta seguro que desea Crear el subtipo de obra ?</p>
                        </div>
                    </form>
                </div>
                <div class=" modal-footer">
                    <button type="button" class="btn btn_danger btn-sm" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn_success btn-sm" (click)="create()" data-dismiss="modal" >Guardar</button>
                </div>
            </div>
        </div>
    </div>


    <!--MODAL DE CONFIMACION de sincroizacion -->
<div class="modal fade" id="sincronizacion" tabindex="-1" role="dialog" aria-labelledby="guardar_provider" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmacion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <p class="text-center text-muted p-3">Se ha actualizado correctamente.</p>
                    </div>
                </form>
            </div>
            <div class=" modal-footer">
                <button type="button" class="btn btn-success btn-sm" data-dismiss="modal">Ok</button>
                
            </div>
        </div>
    </div>
</div>