<div class="container-fluid container-modified">
    <div class="col-12">
        <h3 class="mb-3 title">Reintegros Masivos</h3>
    </div>

    <div class="col-12">
        <form id="massive_head" #massive_head="ngForm">
            <div class="form-group row">
                <label for=" " class="col-1 col-form-label">Consecutivo</label>
                <div class="col-2">
                    <input class="form-control input-modified" type="text" name="refund_masive_conse" [(ngModel)]="masive_refund_head.refund_masive_conse"
                        readonly>


                </div>
                <label for="" class="col-1 col-form-label">Fecha</label>
                <div class="col-2">
                    <input class="form-control input-modified" type="date" name="refund_masive_date" [(ngModel)]="masive_refund_head.refund_masive_date"
                        #refund_masive_date="ngModel" date required>
                </div>
                <label for=" " class="col-1 col-form-label">Almacen</label>
                <div class="col-2">
                    <select name="cellar" class="form-control input-modified" name="refund_masive_cellar" [(ngModel)]="masive_refund_head.refund_masive_cellar"
                        readonly>
                        <option *ngFor="let cellar of cellar" value="{{cellar.idcellar}}" [disabled]="pruebacellar"> {{cellar.name}}</option>
                    </select>
                </div>
            </div>


            <div class="form-group row">
                <label for=" " class="col-1 col-form-label">Encargado</label>
                <div class="col-2">
                    <input class="form-control input-modified" type="text" name="full_name" [(ngModel)]="masive_refund_head.full_name" readonly>

                </div>
            </div>

        </form>
        <button class="btn btn_primary btn-sm mr-3 my-3" data-toggle="modal" data-target="#guardar_massive" [disabled]="!massive_head.valid || bottoninsert">Guardar</button>
        <button class="btn btn_primary btn-sm mr-3 my-3" data-toggle="modal" data-target="#actualizar_massive" [disabled]="bottonupdate">Actualizar</button>
        <button class=" btn btn_success btn-sm mr-3 my-3">
            <i class="fa fa-print" aria-hidden="true"></i> Imprimir
        </button>
        <button class="btn btn_success btn-sm mr-3 my-3" data-target="#buscar_refunds_masive" data-toggle="modal">Buscar Masivos
            <i aria-hidden="true" class="fa fa-search"></i>
        </button>
        <button class="btn btn_success btn-sm mr-3 my-3" data-target="#buscar_massive" data-toggle="modal">Buscar
            <i aria-hidden="true" class="fa fa-search"></i>
        </button>
    </div>
</div>

<div class="container-fluid container-modified">
    <div class="col-12">
        <div class="form-group">

            <div class="datagrid">
                <table id="refund_massive" class="table table-striped table-hover table-bordered table-relative">
                    <thead>
                        <tr>
                            <th class="width-table-1">Eliminar</th>
                            <th class="width-table-2">Codigo</th>
                            <th class="width-table-4">Descripcion</th>
                            <th class="width-table-2">Unidad</th>
                            <th class="width-table-2">Despachos</th>
                            <th class="width-table-2">Reintegros</th>

                            <th class="width-table-1">Reintegrar</th>
                            <th class="width-table-2">Series</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="item_actividad eliminar_tr" *ngFor="let newrow of rowDatatable; let i=index">
                            <td class="text-center">



                                <button class="btn_delete  fa fa-trash-o" type="button" (click)="delete(i,$event)" style="padding: 2px">
                                </button>
                            </td>

                            <td>
                                <input class="form-control input-modified" type="text" name="cod_mater" [(ngModel)]="newrow.cod_mater" readonly>

                            </td>

                            <td>
                                <input class=" form-control input-modified" type="text" name="description" [(ngModel)]="newrow.description" readonly>
                            </td>

                            <td>
                                <input class=" form-control input-modified" type="text" name="name_Unity" [(ngModel)]="newrow.name_Unity" readonly>
                            </td>
                            <td>
                                <input class="despachos form-control input-modified" type="text" name="despacho" [(ngModel)]="newrow.despacho" readonly>
                            </td>
                            <td>
                                <input class="reintegros form-control input-modified" type="text" name="reintegrosmasivos" [(ngModel)]="newrow.reintegrosmasivos"
                                    readonly>
                            </td>
                            <td>
                                <input class="refund form-control input-modified" type="text" name="refund" name="refund" [(ngModel)]="newrow.refund">
                            </td>
                            <td>
                                <input class="form-control input-modified" type="text" readonly>
                            </td>


                        </tr>
                    </tbody>
                </table>



            </div>

        </div>
    </div>
</div>


<!--MODAL PARA BUSCAR LOS DESPACHOS-->
<div class="modal fade" id="buscar_massive" tabindex="-1" role="dialog" aria-labelledby="buscar_massive" data-backdrop="static"
    data-keyboard="false" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">BUSCAR</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="search_refundemplo">
                    <div class="row">
                        <div class="col-2">
                            <label for="">Fecha Inicial</label>
                            <input type="date" class="form-control input-modified" name="date_ini" [(ngModel)]="date_ini">
                        </div>
                        <div class="col-2">
                            <label for="">Fecha Final</label>
                            <input type="date" class="form-control input-modified" name="date_end" [(ngModel)]="date_end">
                        </div>
                        <div class="col-2">
                            <label for="">Empleado</label>

                            <input class="employee form-control input-modified" type="text" name="employee" id="employee">
                            <input class="employee form-control input-modified" type="text" name="employeeid" id="employeehiden" hidden>
                        </div>

                        <div class="col-2">
                            <label for="">Almacen</label>
                            <select class="form-control input-modified" name="cellar2" id="cellar2">
                                <option *ngFor="let cellar2 of cellar" value="{{cellar2.idcellar}}"> {{cellar2.name}}</option>
                            </select>
                        </div>
                        <div class="col-2 d-flex align-items-end">
                            <button class="btn btn_primary btn-sm" (click)='search_date()'>Consultar</button>
                        </div>
                    </div>
                </form>
                <hr>

                <div class="row data-tables">
                    <div class="col-sm-12">
                        <table id="massive_refound" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Encargado</th>
                                    <th>Material</th>
                                    <th>Codigo </th>
                                    <th>Despachos </th>
                                    <th>Reintegros </th>
                                    <th>Seleccionar </th>
                                    <th hidden>unidad </th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of data; let i=index" class="tr1 text-center ">
                                    <td>{{row.name}}{{row.name}}</td>
                                    <td>{{row.description}}</td>
                                    <td>{{row.code}}</td>
                                    <td>{{row.despacho}}</td>
                                    <td>{{row.reintegrosmasivos}}</td>
                                    <td hidden>{{row.name_Unity}}</td>

                                    <td>
                                        <button class="btn btn_select btn-sm" (click)="selectRow(i, row)"> Selecionar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class=" modal-footer">
                <button type="button" class="btn btn_danger btn-sm" data-dismiss="modal" (click)="datos_head()">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!--MODAL DE CONFIMACION-->
<div class="modal fade" id="actualizar_massive" tabindex="-1" role="dialog" aria-labelledby="actualizar_massive" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Actualizar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <p class="text-center text-muted p-3">Esta seguro que desea actualizar la orden ?</p>
                    </div>
                </form>
            </div>
            <div class=" modal-footer">
                <button type="button" class="btn btn_danger btn-sm" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn_success btn-sm" (click)="update()" data-dismiss="modal">Actualizar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="guardar_massive" tabindex="-1" role="dialog" aria-labelledby="guardar_massive" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Guardar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <p class="text-center text-muted p-3">Esta seguro que desea crear la orden ?</p>
                    </div>
                </form>
            </div>
            <div class=" modal-footer">
                <button type="button" class="btn btn_danger btn-sm" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn_success btn-sm" data-dismiss="modal" (click)="insert()">Guardar</button>
            </div>
        </div>
    </div>
</div>

<!--MODAL PARA CONSULTAR LOS REINTEGROS-->
<div class="modal fade" id="buscar_refunds_masive" tabindex="-1" role="dialog" aria-labelledby="buscar" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Reintegros Masivos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="search_massive">
                    <div class="row">
                        <div class="col-2">
                            <label for="">Fecha Inicial</label>
                            <input type="date" name="star_date" class="form-control input-modified">
                        </div>
                        <div class="col-2">
                            <label for="">Fecha Final</label>
                            <input type="date" name="end_date" class="form-control input-modified">

                        </div>
                        <div class="col-2 d-flex align-items-end">
                            <button class="btn btn_primary btn-sm" (click)='search_massive_refund()'>Consultar</button>
                        </div>
                    </div>
                </form>
                <hr>
                <div class="row data-tables">
                    <div class="col-sm-12">
                        <table id="table_search_massive" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>N° de Reintegro</th>
                                    <th>Encargado</th>
                                    <th>Fecha</th>
                                    <th>Almacen</th>
                                    <th>Seleccionar</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row1 of data2; let i=index" class="tr1 text-center ">
                                    <td>{{row1.refund_masive_conse}}</td>
                                    <td>{{row1.name_employee}}{{row1.last_name}}</td>
                                    <td>{{row1.refund_masive_date}}</td>
                                    <td>{{row1.name}}</td>

                                    <td>
                                        <button class="btn btn_select btn-sm" data-dismiss="modal" value="{{row1.idrefund_masive}}" (click)='search_refoundmass($event)'>Selecionar</button>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn_danger btn-sm" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>