table{
    margin: auto;
    border: 1px solid black;
}

#uno{
    background-color:#2b3643;
    color: #fff;
    border: 1px solid black;
    text-align: center;

}
#dos:hover{
    background-color: rgba(206, 206, 211, 0.4); 
}
#tres{
    border:  1px solid black;
    
}
label{
    font-size:0.8rem;
}

.mtitle{
    color: #fff;
    
    text-align: center;
}

button{
    font-size:0.8rem;
}
div.center{
    width: 100%;
    margin: 0 auto;
    background-color: green;
}
